doctype html
html
  head
    title Google Maps
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB6xhfrg9usJx1Q9PWVPHoNEMRc0MdoIT4')

    style(type="text/css").
      body{
        margin: 0;
        height: 90vh;
      }

  body
    div#app
      h1 Error
      
  script(src='public/bundle.js')
